/* style.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #333;
    margin-top: 200px;
}

button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 10px;

    
}

a{
    /* background-color: #007BFF; */
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
}

button:hover {
    background-color: #0056b3;
}

#resultText {
    font-size: 18px;
}
